<template id="preview-tooltip-cost">
  <div class="preview-tooltip-content">
    <div class="preview-main-value"></div>
    <div class="preview-cost">{{ 'advancement.cost_xp' | i18n }}</div>
    <div class="preview-buttons">
      <button class="preview-btn cancel" type="button">{{ 'advancement.cancel' | i18n }}</button>
      <button class="preview-btn ok" type="button">{{ 'advancement.ok' | i18n }}</button>
    </div>
  </div>
</template>

<template id="preview-tooltip-refund">
  <div class="preview-tooltip-content">
    <div class="preview-main-value"></div>
    <div class="preview-cost">{{ 'advancement.refund_xp' | i18n }}</div>
    <div class="preview-buttons">
      <button class="preview-btn cancel" type="button">{{ 'advancement.cancel' | i18n }}</button>
      <button class="preview-btn ok" type="button">{{ 'advancement.ok' | i18n }}</button>
    </div>
  </div>
</template>

<template id="preview-tooltip-nochange">
  <div class="preview-tooltip-content">
    <div class="preview-main-value"></div>
    <div class="preview-cost">{{ 'advancement.no_changes' | i18n }}</div>
    <div class="preview-buttons">
      <button class="preview-btn cancel" type="button">{{ 'advancement.cancel' | i18n }}</button>
      <button class="preview-btn ok" type="button">{{ 'advancement.ok' | i18n }}</button>
    </div>
  </div>
</template>